.container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  button {
    width: 8rem;
    height: 30px;
    background-color: transparent;
    outline: none;
    border: 0.5px solid lightgray;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 200ms ease-out;
    // &:active {
    //   background: red; // working
    // }

    &.positive {
      &:active {
        background: rgb(189, 227, 189);
      }
    }
    &.negative {
      &:active {
        background: rgb(226, 160, 160);
      }
    }
  }
}
